{% load sass_tags %}
{% load extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">#}
    <script src="https://kit.fontawesome.com/4399cb7c1e.js" crossorigin="anonymous"></script>

    {% load static %}


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.full.js"></script>


    <link href="{% sass_src 'EDSite/bulma.sass' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'EDSite/style.css' %}">
    <script src="{% static 'EDSite/script.js' %}"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>

<nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            {#            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">#}
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Data
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'systems' %}">
                        Systems
                    </a>
                    <a class="navbar-item" href="{% url 'stations' %}">
                        Stations
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'commodities' %}">
                        Commodities
                    </a>
                    <a class="navbar-item" href="{% url 'rares' %}">
                        Rare Items
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Trade
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="#">
                        Trade Routes
                    </a>
                    <a class="navbar-item" href="{% url 'carrier-missions' tab='all' %}">
                        Carrier Missions
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            {% if DEBUG_MODE %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Debug
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" id="reloadDataButton">
                            Reload Data
                        </a>

                        <a class="navbar-item" id="updateLocalButton">
                            Update Local (All)
                        </a>
                        <a class="navbar-item" id="updateLocalNoStationsButton">
                            Update Local (Quick)
                        </a>

                        <a class="navbar-item" id="updateLocalListingsButton">
                            Update Local (Listings)
                        </a>
                        <a class="navbar-item" id="updateLocalCacheButton">
                            Update Cache
                        </a>

                    </div>
                </div>
            {% endif %}
            <div class="navbar-item">
                <div class="buttons">
                    {% if current_user %}
                        <a class="button is-primary" href="{% url 'profile' %}">
                            <strong>Profile</strong>
                        </a>
                        <a class="button is-light" href="{% url 'logout' %}">
                            Log Out
                        </a>
                    {% else %}
                        <a class="button is-primary" href="{% url 'signup' %}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="{% url 'login' %}">
                            Log in
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="page-wrapper">
    <div class="container" style="width:100%">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer column is-narrow box mt-6">
        <div class="content has-text-centered">
            <p>
                <strong> <a href="https://www.elitedangerous.com/">Elite: Dangerous</a></strong> game tools by <strong><a href="https://github.com/ArthurVanRemoortel">Arthur Van Remoortel <i class="fa-brands fa-github"></i></a></strong>
                <span>
                The source-code is available on <a href="https://github.com/ArthurVanRemoortel/EDSiteProject"> GitHub <i class="fa-brands fa-github"></i></a>
            </span>
            </p>
        </div>
    </footer>
</div>

<script>
    $("#reloadDataButton").click(function(event) {
        event.preventDefault();
        $.ajax({
            type        : 'POST',
            url         : '{% url 'debug_reload' %}',
            dataType    : 'json',
            success     : successFunction
        });
    })
    $("#updateLocalButton").click(function(event) {
        event.preventDefault();
        $.ajax({
            type        : 'POST',
            url         : '{% url 'debug_update_database' mode='all' %}',
            dataType    : 'json',
            success     : successFunction
        });
    })
    $("#updateLocalNoStationsButton").click(function(event) {
        event.preventDefault();
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '{% url 'debug_update_database' mode='quick' %}', // the url where we want to POST
            dataType    : 'json', // what type of data do we expect back from the server
            success     : successFunction
        });
    })

    $("#updateLocalListingsButton").click(function(event) {
        event.preventDefault();
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '{% url 'debug_update_database' mode='listings' %}', // the url where we want to POST
            dataType    : 'json', // what type of data do we expect back from the server
            success     : successFunction
        });
    })

    $("#updateLocalCacheButton").click(function(event) {
        event.preventDefault();
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '{% url 'debug_update_database' mode='cache' %}', // the url where we want to POST
            dataType    : 'json', // what type of data do we expect back from the server
            success     : successFunction
        });
    })

    function successFunction(msg) {

    }
</script>
{% block javascript %}
{% endblock javascript %}
</body>
</html>