{% extends 'EDSite/base.html' %}
{% load extras %}
{% block title %}
    Stations
{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 1em">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon is-small">
                            <i class="fas fa-home" aria-hidden="true"></i>
                        </span>
                        <span>Home</span></a></li>
                    <li class="is-active"> <a href="#">Stations</a></li>
            </ul>
        </nav>

        <h2 class="title is-2 is-spaced bd-anchor-title">
            Stations
        </h2>

    <article class="panel is-info mt-6">
            <p class="panel-heading">
                Search
            </p>
            <form action="{% url 'stations' %}" method="post">
                {% csrf_token %}
                <div class="panel-block">
                    <table class="table is-fullwidth">
                        <thead style="">
                            <tr>
                                <th style="width:33%"></th>
                                <th style="width:33%"></th>
                                <th style="width:33%"></th>
                            </tr>
                        </thead>
                        <tbody class="">

                        <tr>
                            <td colspan=3>
                                <div class="field">
                                    <label class="label">Search</label>
                                    <div class="control">
                                        {{ form.search }}
                                    </div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td colspan=1>
                                <div class="field">
                                    <label class="label">Include Carriers</label>
                                    <div class="select-wide select is-primary is-fullwidth">
                                        {{ form.include_fleet_carriers }}
                                    </div>
                                </div>
                            </td>
                            <td colspan=1>
                                <div class="field">
                                    <label class="label">Include Planetary</label>
                                    <div class="select-wide select is-primary is-fullwidth">
                                        {{ form.include_planetary }}
                                    </div>
                                </div>
                            </td>
                            <td colspan=1>
                                <div class="field">
                                    <label class="label">Pad Size</label>
                                    <div class="select-wide select is-primary is-fullwidth">
                                        {{ form.landing_pad_size }}
                                    </div>
                                </div>
                            </td>
                        <tr>

                        <tr>
                            <td colspan=3>
                                <div class="field">
                                    <label class="label">Reference System</label>
                                    <div class="control">
                                        {{ form.reference_system}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan=1>
                                <div class="field">
                                    <label class="label">System Distance</label>
                                    <div class="control">
                                        {{ form.system_distance}}
                                    </div>
                                </div>
                            </td>
                            <td colspan=1>
                                <div class="field">
                                    <label class="label">Star Distance</label>
                                    <div class="control">
                                        {{ form.star_distance}}
                                    </div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-link">Submit</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </form>
        </article>

        <article class="panel is-info mb-6 mt-6">
            <p class="panel-heading">Results</p>

            <div class="panel-block">
                <table class="table is-hoverable is-fullwidth ">
                    <thead>
                    <tr>
                        <th class="commodity_th"><abbr title="Station">Station</abbr></th>
                        <th><abbr title="System">System</abbr></th>
                        <th><abbr title="Pad">Pad</abbr></th>
                        <th><abbr title="Star Distance">Star Distance</abbr></th>
                        <th><abbr title="Reference Distance">Reference Distance</abbr></th>
                        <th><abbr title="Age">Age</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for station in stations %}
                        <tr>
                            <th>
                                {% with station_type=station.station_type.name %}
                                    {% include 'EDSite/snippets/station_type.html' %}
                                    <a href="/stations/{{ station.id }}"> {{ station.name }}</a>
                                {% endwith %}
                            </th>
                            <th> <a href="/systems/{{ station.system.id }}">{{ station.system.name }}</a> </th>
                            <th> {{ station.pad_size }} </th>
                            <th> {{ station.ls_from_star }} <span class="unit">Ls</span> </th>
                            {% if reference_distances %}
                                <th> {{ reference_distances|get_value:station.id }} <span class="unit">Ly</span></th>
                            {% else %}
                                <th> ? </th>
                            {% endif %}
                            <th> {{ station.age_string }} </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>

    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            const $stationSearchInput = $('#stationSearchInput');
            const $referenceInput = $('#referenceInput');

            function formatStationSelection (station) {
                if (!station.id) {
                    return null;
                }
                return station.text
            }

            function formatStation (state) {
                if (state.loading) return "Looking up systems...";
                return state.name;
            }

            function onSearchSelect (e) {
                const selectedId = e.params.data.id;
                window.location.href = "{% url 'station' station_id=0 %}".replace('0', selectedId);
            }

            makeSelect2(
                $stationSearchInput,
                "{% url "api-stations-list" %}",
                defaultProcessResults,
                defaultDataFunction,
                formatStation,
                formatStationSelection,
                "Station Name"
            )
            $stationSearchInput.on("select2:select", onSearchSelect);

            makeSelect2(
                $referenceInput,
                "{% url "api-systems-list" %}",
                defaultProcessResults,
                defaultDataFunction,
                formatStation,
                formatStationSelection,
                "Station Name"
            )

            {% if reference_system %}
                var option = new Option("{{ reference_system.name }}", "{{ reference_system.id }}", true, true);
                $referenceInput.append(option).trigger('change');
            {% endif %}

        });

    </script>
{% endblock javascript %}
