{% extends 'EDSite/base.html' %}
{% load extras %}
{% block title %}
    {{ station.name }}
{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 1em">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon is-small">
                            <i class="fas fa-home" aria-hidden="true"></i>
                        </span>
                        <span>Home</span></a></li>
                <li>
                    <a href="/stations">
                        <span class="icon is-small">
                            <i class="fa fa-satellite"></i>
                        </span>
                        <span>Stations</span>
                    </a>
                </li>
                <li class="is-active"> <a href="#">{{ station.name }}</a></li>
            </ul>
        </nav>

        <h2 class="title is-2 is-spaced bd-anchor-title">
            <a class="title is-2" id="openExternalStationButton">

                {% with station_type=station.station_type.name %}
                    {% include 'EDSite/snippets/station_type.html' %}
                {% endwith %}
                <span class="ml-2">{{ station.name }}</span>
            </a>
            <a class="subtitle is-3 thin" href="/systems/{{ station.system.id }}" id="openExternalSystemButton">
                {{ station.system.name }}
            </a>
            {% open_external 'openExternalStationButton' station 'top' %}
            {% open_external 'openExternalSystemButton' station.system 'top' %}
        </h2>
        <article class="panel is-info">
            <div class="tabs panel-heading is-boxed mb-1">
                <ul>
                    <li class="is-active" id="overviewTabButton">
                        <a onclick='return showOverviewTab()'>
                            <span class="icon is-small"><i class="fas fa-circle-info" aria-hidden="true"></i></span>
                            <span>Overview</span>
                        </a>
                    </li>
                    <li id="outfittingTabButton">
                        <a onclick='return showOutfittingTab()'>
                            <span class="icon is-small"><i class="fas fa-shuttle-space" aria-hidden="true"></i></span>
                            <span>Outfitting</span>
                        </a>
                    </li>
                    <li id="factionsTabButton">
                        <a onclick='return showFactionsTab()'>
                            <span class="icon is-small"><i class="fa-solid fa-people-group" aria-hidden="true"></i></span>
                            <span>Factions</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="panel-block" id="summaryPanelBlock">
                <div class="container mb-2" id="overviewTab">
                    <div class="columns">
                        <div class="column is-two-thirds">
                            <div class="columns">
                                <div class="column column-fixed-10">
                                    <p class="mt-2">Updated</p>
                                    <p class="mt-2">System</p>
                                    <p class="mt-2">Pad Size</p>
                                    <p class="mt-2">Star Distance</p>
                                    <p class="mt-2">Your Distance</p>
                                    <p class="mt-2">Services</p>
                                </div>
                                <div class="column">
                                    <p class="mt-2">{{ station.age_string }}</p>
                                    <p class="mt-2"><a href="/systems/{{ station.system.id }}">{{ station.system.name }}</a></p>
                                    <p class="mt-2">{{ station.pad_size }}</p>
                                    <p class="mt-2">{{ station.ls_from_star }} <span class="unit">Ls</span></p>
                                    <p class="mt-2">{{ station.system|distance_to:current_system }} <span class="unit">Ly</span></p>
                                    <p class="mt-2">
                                        <span class="is-green-text-color">{{ station.enabled_services|join:", " }}</span>
                                        <br>
                                        <span class="is-red-text-color">{{ station.disabled_services|join:", " }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="columns">
                                <div class="column column-fixed-10 has-text-right">
                                    <p class="mt-2">Economy</p>
                                    <p class="mt-2">Population</p>
                                    <p class="mt-2">Government</p>
                                    <p class="mt-2">Allegiance</p>
                                    <p class="mt-2">Minor faction</p>
                                    <p class="mt-2">States</p>
                                </div>
                                <div class="column">
                                    <p class="mt-2">/</p>
                                    <p class="mt-2">/</p>
                                    <p class="mt-2">/</p>
                                    <p class="mt-2">/</p>
                                    <p class="mt-2">/</p>
                                    <div class="buttons mt-2">
                                      <button class="button is-primary is-small is-rounded" >Placeholder</button>
                                      <button class="button is-primary is-small is-rounded">Placeholder</button>
                                      <button class="button is-primary is-small is-rounded">Placeholder</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mb-2" id="outfittingTab">
                    <div class="">
                    </div>
                </div>
                <div class="container mb-2" id="factionsTab">
                    <div class="">
                    </div>
                </div>
            </div>
        </article>

        <article class="panel is-info mt-6">
            <p class="panel-heading">
                Market
            </p>
            <div class="panel-block">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th class="commodity_th"><abbr title="Name">Name</abbr></th>
                        <th><abbr title="History"></abbr></th>
                        <th><abbr title="Sell">Sell</abbr></th>
                        <th><abbr title="Supply">Supply</abbr></th>
                        <th><abbr title="Buy">Buy</abbr></th>
                        <th><abbr title="Demand">Demand</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category_name, listings in listings_by_category.items %}
                        <tr><th colspan="6">{{ category_name }}</th></tr>
                        {% for listing in listings %}
                            {% if listing.supply_units or listing.demand_units %}
                                <tr>
                                    <th> <a href="/commodities/{{ listing.commodity_id }}">{{ listing.commodity.name }}</a> </th>
                                    <th> <i class="fa-solid fa-chart-column is-primary-text-color"></i> </th>
                                    {% if listing.supply_units > 0 %}
                                        <th> <span class="unit">CR</span> {{ listing.supply_price }} </th>
                                        <th> {{ listing.supply_units }} </th>
                                    {% else %}
                                        <th></th>
                                        <th></th>
                                    {% endif %}
                                    {% if listing.demand_units > 0 %}
                                        <th> <span class="unit">CR</span> {{ listing.demand_price }}</th>
                                        <th> {{ listing.demand_units }}</th>
                                    {% else %}
                                        <th></th>
                                        <th></th>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>
    </div>
{% endblock content %}

{% block javascript %}
    <script>

        const summaryPanelBlock =  $('#summaryPanelBlock')
        const overviewTab =  $('#overviewTab')
        const outfittingTab =  $('#outfittingTab')
        const factionsTab =  $('#factionsTab')

        const overviewTabButton =  $('#overviewTabButton')
        const outfittingTabButton =  $('#outfittingTabButton')
        const factionsTabButton =  $('#factionsTabButton')

        let activeTab = overviewTab
        let activeTabButton = overviewTabButton

        function showOverviewTab() {
            if (activeTab === overviewTab) return
            activeTab.hide()
            overviewTab.show()
            activeTabButton.removeClass("is-active")
            overviewTabButton.addClass("is-active")
            activeTab = overviewTab
            activeTabButton = overviewTabButton
        }

        function showOutfittingTab() {
            if (activeTab === outfittingTab) return
            activeTab.hide()
            outfittingTab.show()
            activeTabButton.removeClass("is-active")
            outfittingTabButton.addClass("is-active")
            activeTab = outfittingTab
            activeTabButton = outfittingTabButton
        }

        function showFactionsTab() {
            if (activeTab === factionsTab) return
            activeTab.hide()
            factionsTab.show()
            activeTabButton.removeClass("is-active")
            factionsTabButton.addClass("is-active")
            activeTab = factionsTab
            activeTabButton = factionsTabButton
        }

        $(document).ready(function () {
            overviewTab.show()
            outfittingTab.hide()
            factionsTab.hide()
        });

    </script>
{% endblock javascript %}