{% extends 'EDSite/base.html' %}
{% load extras %}
{% load humanize %}
{% block title %}
    Commodities
{% endblock %}

{% block content %}

    <div class="container" style="padding-top: 1em">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li>
                    <a href="/">
                        <span class="icon is-small">
                            <i class="fas fa-home" aria-hidden="true"></i>
                        </span>
                        <span>Home</span></a></li>
                <li class="is-active"> <a href="#">Systems</a></li>
            </ul>
        </nav>


        <h2 class="title is-2 is-spaced bd-anchor-title">
            Systems
        </h2>

        <article class="panel is-info mt-6">
            <p class="panel-heading">
                Search
            </p>
            <form action="{% url 'systems' %}" method="post">
                {% csrf_token %}
                <div class="panel-block">
                    <table class="table is-fullwidth">
                        <thead style="">
                        <tr>
                            <th style="width:33%"></th>
                            <th style="width:33%"></th>
                            <th style="width:33%"></th>
                        </tr>
                        </thead>
                        <tbody class="">
                        <tr>
                            <td colspan=3>
                                <div class="field">
                                    <label class="label">Search</label>
                                    <div class="control">
                                        {{ form.search }}
                                    </div>
                                </div>
                            </td>
                        <tr>
                            <td colspan=2>
                                <div class="field">
                                    <label class="label">Reference System</label>
                                    <div class="control">
                                        {{ form.reference_system}}
                                    </div>
                                </div>
                            </td>
                            <td colspan=1>
                                <div class="field">
                                    <label class="label">Only Populated</label>
                                    <div class="select-wide select is-primary is-fullwidth">
                                        {{ form.only_populated}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="field">
                                    <div class="control">
                                        <button type="submit" class="button is-link">Submit</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </form>
        </article>
        <article class="panel is-info mb-6 mt-6">
            <p class="panel-heading">Results</p>

            <div class="panel-block">
                <table class="table is-hoverable is-fullwidth ">
                    <thead>
                    <tr>
                        <th class="commodity_th"><abbr title="Station">System</abbr></th>
                        <th><abbr title="System"># Stations</abbr></th>
                        <th><abbr title="System">Population</abbr></th>
                        <th><abbr title="Price">Distance</abbr></th>
                        <th><abbr title="Price">Distance Sol</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for system in systems %}
                        <tr>
                            <th>
                                <a href="/systems/{{ system.id }}"> {{ system.name }}</a>
                            </th>
                            <th> {{ system.stations.count }} </th>
                            <th> {% if system.population %}{{ system.population|intcomma }} {% else %} ? {% endif %} </th>
                            {% if reference_distances %}
                                <th> {{ reference_distances|get_value:system.id }} <span class="unit">Ly</span></th>
                            {% else %}
                                <th> ? </th>
                            {% endif %}
                            <th> {{ system.distance_to_sol|floatformat:0 }} <span class="unit">Ly</span> </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function () {
            const $searchInput = $('#searchInput');
            const $referenceInput = $('#referenceInput');

            function formatSystemSelection (system) {
                if (!system.id) return null;
                return system.text
            }

            function formatSystem (state) {
                if (state.loading) return "Looking up systems...";
                return state.name;
            }

            function onSearchSelect (e) {
                const selectedId = e.params.data.id;
                window.location.href = "{% url 'system' system_id=0 %}".replace('0', selectedId);
            }

            makeSelect2(
                $searchInput,
                "{% url "api-systems-list" %}",
                defaultProcessResults,
                defaultDataFunction,
                formatSystem,
                function (systems) {},
                "System Name"
            )
            $searchInput.on("select2:select", onSearchSelect);

            makeSelect2(
                $referenceInput,
                "{% url "api-systems-list" %}",
                defaultProcessResults,
                defaultDataFunction,
                formatSystem,
                formatSystemSelection,
                "System Name"
            )

            {% if reference_system %}
                var option = new Option("{{ reference_system.name }}", "{{ reference_system.id }}", true, true);
                $referenceInput.append(option).trigger('change');
            {% endif %}
        });

    </script>
{% endblock javascript %}